# agepy
-e .

# Sphinx https://pypi.org/project/Sphinx/
Sphinx

# nbsphinx https://pypi.org/project/nbsphinx/
# Turns Jupyter Notebooks into documentation
nbsphinx

# numpydoc https://pypi.org/project/numpydoc/
# Supports numpy style docstrings
numpydoc

# sphinx-rtd-theme https://pypi.org/project/sphinx-rtd-theme/
# The Read the docs theme
sphinx-rtd-theme

# sphinx-copybutton https://pypi.org/project/sphinx-copybutton/
# Adds a copybutton to code blocks
sphinx-copybutton

# sphinx-argparse https://pypi.org/project/sphinx-argparse/
# Creates documentation for python scripts that use argparse
sphinx-argparse

# sphinx-autodoc-typehints https://pypi.org/project/sphinx-autodoc-typehints/
sphinx-autodoc-typehints

# pandoc https://pypi.org/project/pandoc/
pandoc >= 2.3

# ipython https://pypi.org/project/ipython/
ipython

# jupyter notebook https://pypi.org/project/notebook/
notebook

# h5py https://pypi.org/project/h5py/
h5py
